<div class="center jumbotron">
<% provide(:title, "Login - ") %>
<h1>Login - Coming soon</h1>
<!--
<div class="box" id="box1">
    <%= image_tag("women.jpg", alt: "Women")%> 
</div>
<div class="box" id="box2">
    <%= image_tag("men.jpg", alt: "Men")%> 
</div>
<div class="box" id="box3">
    <%= image_tag("kids.jpg", alt: "Kids")%> 
</div>
<div class="box" id="box4">
    <%= image_tag("sale.jpg", alt: "Sale")%>
    <%= image_tag("sale.jpg", alt: "Sale")%> 
</div>
-->

</div>
